

<!doctype html>
<html lang="en">

<head>
 <title></title>
 <!-- bootstrap cdns  -->
 <!-- Font Awesome -->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
 <!-- Bootstrap core CSS -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
 <!-- Material Design Bootstrap -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />

 <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jvectormap@2.0.4/jquery-jvectormap.css">
 <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />

 <title>jVectorMap Areas</title>
 <link rel="stylesheet" href="http://jvectormap.com/css/jquery-jvectormap-2.0.3.css" type="text/css">
 <!-- <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
 <script src="http://jvectormap.com/js/jquery-jvectormap-2.0.3.min.js"></script> -->
 <script src="http://jvectormap.com/js/jquery-jvectormap-us-aea.js"></script>
 <style>
  html,
  body {
   height: 100%;
   overflow: hidden;
  }

  .tab-content>.tab-pane:not(.active) {
   display: block;
   height: 0;
   width: 0;
   overflow-y: hidden;
  }

  .btn_map:hover {
   padding: 10px;
  }
  tr{
   color:yellow;
 font-size: 12px;
} 

td{
 color:yellow;
 font-size: 12px;
}
tr,td{
 border:.5px solid grey!important;

}
.tableFixHead { overflow-y: auto; height: 380px; }

/* Just common table stuff. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }



 </style>
</head>

<body>
 <div class=" d-flex flex-column justify-content-center align-items-center h-100 ">

  <div class=" w-100 h-100 ">
   <div class=" w-100 ">



    <div class="row bg-indigo-500 ">
    </div>
    <div class="row bg-gray-800  items-center p-2 ">
     <div
      class="col-md-1 bg-gray-800 d-flex justify-content-center align-items-center ">
      <i class="fas fa-globe fa-3x text-muted mr-2 "></i>
     
     </div>

     <div class="col-md-2 bg-gray-800 d-flex justify-content-center align-items-center ">
      <span id="datetime" class="text-muted font-weight-bold"></span>
     
     </div>

     <div class="col-md-2 bg-gray-800    ">
      <ul class="list-inline d-flex flex-row justify-content-around align-items-center  ">

       <li><a href="#"><i class="fas fa-bars text-muted fa-2x mr-1"></i></a></li>
       <li> <a href="#"><i class="fas fa-chart-bar text-muted fa-2x ml-1"></i></a></li>
       <li> <a href="#"> <i class="fas fa-chart-bar text-muted fa-2x ml-1"></i></a></li>
       <li> <a href="#"><i class="fas fa-user-circle text-muted fa-2x ml-1"></i></a></li>
      </ul>


     </div>
     <div class="col-md-3  p-0 m-0 ">
      <form action="">
       <div class="input-group">
        <input type="text" class="form-control form-control-sm bg-gray-700 mt-1" placeholder="Search" name="search">
        <div class="input-group-btn">
         <button class="btn btn-sm bg-gray-700 text-white" type="submit"><i
           class="fas fa-search text-white"></i></button>
        </div>
       </div>
      </form>
     </div>





    </div>
   </div>
   <div class="container-fluid h-100">
    <div class="row h-100">
     <div class="col-md-1 h-100 bg-gray-800  m-0 p-1  d-flex flex-column justify-content-start align-items-center">


      <div id="feel_effect1" class="w-100 h-25  bg-gray-800 d-flex justify-content-center align-items-center">
       <i id="icon_twitter" class="fab fa-twitter text-warning fa-3x "></i>
      </div>



      <div id="feel_effect2" class="w-100 h-25  bg-gray-800 d-flex justify-content-center align-items-center">
       <i id="icon_facebook" class="fab fa-facebook text-warning fa-3x "></i>
      </div>





      <div id="feel_effect3" class="w-100 h-25  bg-gray-800 d-flex justify-content-center align-items-center">
       <i id="icon_instagram" class="fab fa-instagram text-warning fa-3x "></i>
      </div>


      <div id="feel_effect4" class="w-100 h-25  bg-gray-800 d-flex justify-content-center align-items-center">
       <i id="icon_linkedin" class="fab fa-linkedin-in text-warning fa-3x "></i>
      </div>



      <div id="feel_effect5" class="w-100 h-25  bg-gray-800 d-flex justify-content-center align-items-center">
       <i id="icon_news" class="fas fa-rss-square text-warning fa-3x "></i>
      </div>







     </div>

     <div class="col-md-11 h-100 bg-gray-800 ">
      <div class="row h-100">
       <div class="col-md-8 h-100">
        <div class="row h-75">
         <div class="col-md-12 ">
<div class="w-100 bg-gray-999  h-100 " id="chartdiv1"></div>  
         </div>
        </div>

      
        
        <div class="row  "style="height:25%;">
         <div class="col-md-3  h-75 w-100 p-1 m-0 " id="chart1"></div>
         <div class="col-md-3  h-75 w-100 p-1 m-0 " id="barchart"></div>
         <div class="col-md-3  h-75 w-100 p-1 m-0 " id="chart2"></div>
         <div class="col-md-3  h-75 w-100 p-1 m-0 " id="barchart1"></div>

        </div>
       
       </div>



       <div class="col-md-4 h-100  ">

        <div class="row h-50 ">
         <div class="col-md-12  bg-gray-800 border border-warning">
          <div class="d-flex flex-row justify-content-around align-items-center p-1">
           <button type="button" class="badge badge-danger p-2 btn_map" style="font-size:16px" id="asia">Aisa</button>
           <button type="button" class="badge badge-danger p-2 btn_map" style="font-size:16px" id="africa">Africa</button>
           <button type="button" class="badge badge-danger p-2 btn_map" style="font-size:16px" id="europe">Europe</button>
           <button type="button" class="badge badge-danger p-2 btn_map" style="font-size:16px" id="north_america">North America</button>
           <button type="button" class="badge badge-danger p-2 btn_map" style="font-size:16px" id="south_america">South America</button>

           <button type="button" class="badge badge-danger p-2 btn_map" style="font-size:16px" id="australia">Australia</button>
          </div>


         </div>
         <div class="col-md-12  bg-gray-800 h-100 w-100 m-0 p-0  " id="div_map">
           
         </div>
        </div>


        <div class="row h-50 ">
         <div class="col-md-12  bg-gray-800 border border-warning">
          <div class="d-flex flex-row justify-content-around align-items-center p-1">
           <button type="button" class="badge badge-danger p-2  btn_map" style="font-size:16px" id="asia">Twitter</button>
           <button type="button" class="badge badge-danger p-2  btn_map" style="font-size:16px" id="africa">Facebook</button>
           <button type="button" class="badge badge-danger p-2  btn_map" style="font-size:16px" id="europe">Linked In</button>
           <button type="button" class="badge badge-danger p-2  btn_map" style="font-size:16px" id="north_america">Instagram</button>
           <button type="button" class="badge badge-danger p-2  btn_map" style="font-size:16px" id="south_america">News</button>

          
          </div>


         </div>
         <div class="col-md-6 bg-gray-800  h-100 w-100 m-0 p-0 " id="div_map">
          <div class="card bg-gray-800 w-100 m-0 p-0 " style="border-radius:0px;border:0px!important">
           <div class="card-header text-warning font-weight-bold text-center border border-warning " style="border-radius:0px;">World Wide Trending Data</div>
           <div class="card-body m-0 p-0 tableFixHead" style="border-radius:0px;border:0px!important">
            <table class="table table-hover m-0 p-0 ">
             <!-- <thead>
               <tr class="bg-danger">
               
               
                 <th class="m-0 p-0 " scope="col"><span class="badge badge-danger text-xl p-2 ">Hashtags</span></th>
                 <th class="p-0 m-0 " scope="col"><span class="badge badge-danger text-xl p-2">Counts</span></th>
               </tr>
             </thead> -->
             <tbody>
              <tr class="">

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr class="">

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr class="">

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr class="">

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>



             </tbody>
            </table>

           </div>
           <div class="card-footer text-white">
            Last synced : 0 sec ago
           </div>
          </div>
         </div>
         <div class="col-md-6 bg-gray-800  h-100 w-100 m-0 p-0  " id="div_map">
          <div class="card bg-gray-800 w-100 m-0 p-0 " style="border-radius:0px;border:0px!important">
           <div class="card-header text-warning font-weight-bold text-center border-warning border"style="border-radius:0px;">World Wide Trending Data</div>
           <div class="card-body m-0 p-0 tableFixHead" style="border-radius:0px;border:0px!important">
            <table class="table table-hover m-0 p-0  " >
             <!-- <thead>
               <tr class="bg-danger">
               
               
                 <th class="m-0 p-0 " scope="col"><span class="badge badge-danger text-xl p-2 ">Hashtags</span></th>
                 <th class="p-0 m-0 " scope="col"><span class="badge badge-danger text-xl p-2">Counts</span></th>
               </tr>
             </thead> -->
             <tbody >
              <tr class="">

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr class="">

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>


              <tr class="">

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr class="">

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>
              <tr>

               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">Mark</span></td>
               <td class="m-0 p-1 text-center" style="width: 75%"><span class="badge badge-success">14k</span></td>
              </tr>



             </tbody>
            </table>

           </div>
           <div class="card-footer text-white">
            Last synced : 0 sec ago
           </div>
          </div>
         </div>
        </div>


        

       </div>

    
      </div>
  
    
     </div>
    
    </div>
  
   </div>










  </div>



  </div>

 </div>
 
 <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
 <!-- Resources -->
 <script src="https://www.amcharts.com/lib/4/core.js"></script>
 <script src="https://www.amcharts.com/lib/4/maps.js"></script>
 <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
 <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
 </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
 <script src="jquery-jvectormap-2.0.3.min.js"></script>
 <script src="jquery-jvectormap-africa-mill.js"></script>
 <script src="jquery-jvectormap-asia-mill.js"></script>
 <script src="jquery-jvectormap-europe-mill.js"></script>
 <script src="jquery-jvectormap-north_america-mill.js"></script>
 <script src="jquery-jvectormap-south_america-mill.js"></script>
 <script src="jquery-jvectormap-oceania-mill.js"></script>


 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/modules/series-label.js"></script>
 <script src="https://code.highcharts.com/modules/exporting.js"></script>
 <script src="https://code.highcharts.com/modules/export-data.js"></script>
 <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- Additional files for the Highslide popup effect -->
<script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
<script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
 <!-- <script>
        $('#europeMap').vectorMap({map: 'europe_mill', backgroundColor: "#2d3748;"});
        $('#asiaMap').vectorMap({map: 'asia_mill', backgroundColor: "#2d3748;"});
       
      </script> -->
 <script>
  // $(document).ready(function () {
  //africa -mill 
  //  var africaData = {
  //       "DZ": 16.63,
  //       "AL": 11.58,
  //      "DZ": 158.97,

  //  }
  //   $('#africaMap').vectorMap({
  //   map: 'africa_mill',
  //    backgroundColor: "#2d3748;",
  //   series: {
  //       country: [{
  //        values: africaData,
  //         scale: ['#C8EEFF', '#0071A4'],
  //         normalizeFunction: 'polynomial'
  //     }]
  //    },
  //   onRegionTipShow: function (e, el, code) {
  //       el.html(el.html() + ' (GDP - ' + africaData[code] + ')');
  //    }
  //  });





  //  })
 </script>





 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
 </script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
 </script>

 <script>
  $(document).ready(function () {
   $(function () {
    $('#feel_effect1').hover(function () {
     $('#feel_effect1').css('border-left', '10px solid #ecc94b');
     $('#feel_effect1').css('border-right', '1px solid #ecc94b');
     $('#feel_effect1').css('border-top', '1px solid #ecc94b');
     $('#feel_effect1').css('border-bottom', '1px solid #ecc94b');
     $('#icon_twitter').css('color', '#ecc94b');
    }, function () {
     // on mouseout, reset the background colour
     $('#feel_effect1').css('border', '');
     $('#icon_twitter').css('color', '');
    });

   });
   $(function () {
    $('#feel_effect2').hover(function () {
     $('#feel_effect2').css('border-left', '10px solid #ecc94b');
     $('#feel_effect2').css('border-right', '1px solid #ecc94b');
     $('#feel_effect2').css('border-top', '1px solid #ecc94b');
     $('#feel_effect2').css('border-bottom', '1px solid #ecc94b');
     $('#icon_facebook').css('color', '#ecc94b');
    }, function () {
     // on mouseout, reset the background colour
     $('#feel_effect2').css('border', '');
     $('#icon_facebook').css('color', '');
    });

   });


   $(function () {
    $('#feel_effect3').hover(function () {
     $('#feel_effect3').css('border-left', '10px solid #ecc94b');
     $('#feel_effect3').css('border-right', '1px solid #ecc94b');
     $('#feel_effect3').css('border-top', '1px solid #ecc94b');
     $('#feel_effect3').css('border-bottom', '1px solid #ecc94b');
     $('#icon_instagram').css('color', '#ecc94b');
    }, function () {
     // on mouseout, reset the background colour
     $('#feel_effect3').css('border', '');
     $('#icon_instagram').css('color', '');
    });
   });


   $(function () {
    $('#feel_effect4').hover(function () {
     $('#feel_effect4').css('border-left', '10px solid #ecc94b');
     $('#feel_effect4').css('border-right', '1px solid #ecc94b');
     $('#feel_effect4').css('border-top', '1px solid #ecc94b');
     $('#feel_effect4').css('border-bottom', '1px solid #ecc94b');
     $('#icon_linkedin').css('color', '#ecc94b');
    }, function () {
     // on mouseout, reset the background colour
     $('#feel_effect4').css('border', '');
     $('#icon_linkedin').css('color', '');
    });
   });


   $(function () {
    $('#feel_effect5').hover(function () {
     $('#feel_effect5').css('border-left', '10px solid #ecc94b');
     $('#feel_effect5').css('border-right', '1px solid #ecc94b');
     $('#feel_effect5').css('border-top', '1px solid #ecc94b');
     $('#feel_effect5').css('border-bottom', '1px solid #ecc94b');
     $('#icon_news').css('color', '#ecc94b');
    }, function () {
     // on mouseout, reset the background colour
     $('#feel_effect5').css('border', '');
     $('#icon_news').css('color', '');
    });
   });



   //display date and time 
   document.getElementById("datetime").innerHTML = formatAMPM();

   function formatAMPM() {
    var d = new Date(),
     minutes = d.getMinutes().toString().length == 1 ? '0' + d.getMinutes() : d
     .getMinutes(),
     hours = d.getHours().toString().length == 1 ? '0' + d.getHours() : d.getHours(),
     ampm = d.getHours() >= 12 ? 'pm' : 'am',
     months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
      'Nov', 'Dec'
     ],
     days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    return days[d.getDay()] + ' ' + months[d.getMonth()] + ' ' + d.getDate() + ' ' + d
     .getFullYear() + ' ' + hours + ':' + minutes + ampm;
   }


  })
 </script>
 <script>
  $(document).ready(function () {
   $("#div_map").vectorMap({
    map: "asia_mill",
    backgroundColor: "#2d3748",
    zoomOnScroll: true,
    regionsSelectable: true,
    onRegionSelected: function () {
     var regions = $("#div_map").vectorMap("get", "mapObject").regions;
     var visible = "visibility: visible;",
      hidden = "";
     for (var key in regions) {
      var label = regions[key].element.label;
      if (label) {
       label.node.setAttribute('style', label.isSelected ? visible : hidden);
      }
     }
    },
    regionStyle: {
     initial: {
      fill: "yellow"
     },
     selected: {
      fill: "red"
     }
    },
    labels: {
     regions: {
      render: function (code) {
       var doNotShow = ['US-RI', 'US-DC', 'US-DE', 'US-MD'];
       if (doNotShow.indexOf(code) === -1) {
        return code.split('-')[1];
       }
      },
      offsets: function (code) {
       return {
        'CA': [-10, 10],
        'ID': [0, 40],
        'OK': [25, 0],
        'LA': [-20, 0],
        'FL': [45, 0],
        'KY': [10, 5],
        'VA': [15, 5],
        'MI': [30, 30],
        'AK': [50, -25],
        'HI': [25, 50]
       } [code.split('-')[1]];
      }
     }
    }
   });
   $('.btn_map').on('click', function () {
    var btn_value = $(this).attr('id');

    if (btn_value == 'asia') {
     //$(this).removeClass('btn-success');
     // $(this).addClass('btn-danger');
     $("#div_map").empty().append('');
     $("#div_map").vectorMap({
      map: "asia_mill",
      backgroundColor: "#2d3748",
      zoomOnScroll: true,
      regionsSelectable: true,
      onRegionSelected: function () {
       var regions = $("#div_map").vectorMap("get", "mapObject").regions;
       var visible = "visibility: visible;",
        hidden = "";
       for (var key in regions) {
        var label = regions[key].element.label;
        if (label) {
         label.node.setAttribute('style', label.isSelected ? visible : hidden);
        }
       }
      },
      regionStyle: {
       initial: {
        fill: "yellow"
       },
       selected: {
        fill: "red"
       }
      },
      labels: {
       regions: {
        render: function (code) {
         var doNotShow = ['US-RI', 'US-DC', 'US-DE', 'US-MD'];
         if (doNotShow.indexOf(code) === -1) {
          return code.split('-')[1];
         }
        },
        offsets: function (code) {
         return {
          'CA': [-10, 10],
          'ID': [0, 40],
          'OK': [25, 0],
          'LA': [-20, 0],
          'FL': [45, 0],
          'KY': [10, 5],
          'VA': [15, 5],
          'MI': [30, 30],
          'AK': [50, -25],
          'HI': [25, 50]
         } [code.split('-')[1]];
        }
       }
      }
     });
    }
    if (btn_value == 'africa') {
     $("#div_map").empty().append('');
     $("#div_map").vectorMap({
      map: "africa_mill",
      backgroundColor: "#2d3748",
      zoomOnScroll: true,
      regionsSelectable: true,
      onRegionSelected: function () {
       var regions = $("#div_map").vectorMap("get", "mapObject").regions;
       var visible = "visibility: visible;",
        hidden = "";
       for (var key in regions) {
        var label = regions[key].element.label;
        if (label) {
         label.node.setAttribute('style', label.isSelected ? visible : hidden);
        }
       }
      },
      regionStyle: {
       initial: {
        fill: "yellow"
       },
       selected: {
        fill: "red"
       }
      },
      labels: {
       regions: {
        render: function (code) {
         var doNotShow = ['US-RI', 'US-DC', 'US-DE', 'US-MD'];
         if (doNotShow.indexOf(code) === -1) {
          return code.split('-')[1];
         }
        },
        offsets: function (code) {
         return {
          'CA': [-10, 10],
          'ID': [0, 40],
          'OK': [25, 0],
          'LA': [-20, 0],
          'FL': [45, 0],
          'KY': [10, 5],
          'VA': [15, 5],
          'MI': [30, 30],
          'AK': [50, -25],
          'HI': [25, 50]
         } [code.split('-')[1]];
        }
       }
      }
     });
    }

    if (btn_value == 'europe') {
     $("#div_map").empty().append('');
     $("#div_map").vectorMap({
      map: "europe_mill",
      backgroundColor: "#2d3748",
      zoomOnScroll: true,
      regionsSelectable: true,
      onRegionSelected: function () {
       var regions = $("#div_map").vectorMap("get", "mapObject").regions;
       var visible = "visibility: visible;",
        hidden = "";
       for (var key in regions) {
        var label = regions[key].element.label;
        if (label) {
         label.node.setAttribute('style', label.isSelected ? visible : hidden);
        }
       }
      },
      regionStyle: {
       initial: {
        fill: "yellow"
       },
       selected: {
        fill: "red"
       }
      },
      labels: {
       regions: {
        render: function (code) {
         var doNotShow = ['US-RI', 'US-DC', 'US-DE', 'US-MD'];
         if (doNotShow.indexOf(code) === -1) {
          return code.split('-')[1];
         }
        },
        offsets: function (code) {
         return {
          'CA': [-10, 10],
          'ID': [0, 40],
          'OK': [25, 0],
          'LA': [-20, 0],
          'FL': [45, 0],
          'KY': [10, 5],
          'VA': [15, 5],
          'MI': [30, 30],
          'AK': [50, -25],
          'HI': [25, 50]
         } [code.split('-')[1]];
        }
       }
      }
     });
    }



    if (btn_value == 'north_america') {
     $("#div_map").empty().append('');
     $("#div_map").vectorMap({
      map: "north_america_mill",
      backgroundColor: "#2d3748",
      zoomOnScroll: true,
      regionsSelectable: true,
      onRegionSelected: function () {
       var regions = $("#div_map").vectorMap("get", "mapObject").regions;
       var visible = "visibility: visible;",
        hidden = "";
       for (var key in regions) {
        var label = regions[key].element.label;
        if (label) {
         label.node.setAttribute('style', label.isSelected ? visible : hidden);
        }
       }
      },
      regionStyle: {
       initial: {
        fill: "yellow"
       },
       selected: {
        fill: "red"
       }
      },
      labels: {
       regions: {
        render: function (code) {
         var doNotShow = ['US-RI', 'US-DC', 'US-DE', 'US-MD'];
         if (doNotShow.indexOf(code) === -1) {
          return code.split('-')[1];
         }
        },
        offsets: function (code) {
         return {
          'CA': [-10, 10],
          'ID': [0, 40],
          'OK': [25, 0],
          'LA': [-20, 0],
          'FL': [45, 0],
          'KY': [10, 5],
          'VA': [15, 5],
          'MI': [30, 30],
          'AK': [50, -25],
          'HI': [25, 50]
         } [code.split('-')[1]];
        }
       }
      }
     });
    }




    if (btn_value == 'south_america') {
     $("#div_map").empty().append('');
     $("#div_map").vectorMap({
      map: "south_america_mill",
      backgroundColor: "#2d3748",
      zoomOnScroll: true,
      regionsSelectable: true,
      onRegionSelected: function () {
       var regions = $("#div_map").vectorMap("get", "mapObject").regions;
       var visible = "visibility: visible;",
        hidden = "";
       for (var key in regions) {
        var label = regions[key].element.label;
        if (label) {
         label.node.setAttribute('style', label.isSelected ? visible : hidden);
        }
       }
      },
      regionStyle: {
       initial: {
        fill: "yellow"
       },
       selected: {
        fill: "red"
       }
      },
      labels: {
       regions: {
        render: function (code) {
         var doNotShow = ['US-RI', 'US-DC', 'US-DE', 'US-MD'];
         if (doNotShow.indexOf(code) === -1) {
          return code.split('-')[1];
         }
        },
        offsets: function (code) {
         return {
          'CA': [-10, 10],
          'ID': [0, 40],
          'OK': [25, 0],
          'LA': [-20, 0],
          'FL': [45, 0],
          'KY': [10, 5],
          'VA': [15, 5],
          'MI': [30, 30],
          'AK': [50, -25],
          'HI': [25, 50]
         } [code.split('-')[1]];
        }
       }
      }
     });
    }



    if (btn_value == 'australia') {
     $("#div_map").empty().append('');
     $("#div_map").vectorMap({
      map: "oceania_mill",
      backgroundColor: "#2d3748",
      zoomOnScroll: true,
      regionsSelectable: true,
      onRegionSelected: function () {
       var regions = $("#div_map").vectorMap("get", "mapObject").regions;
       var visible = "visibility: visible;",
        hidden = "";
       for (var key in regions) {
        var label = regions[key].element.label;
        if (label) {
         label.node.setAttribute('style', label.isSelected ? visible : hidden);
        }
       }
      },
      regionStyle: {
       initial: {
        fill: "yellow"
       },
       selected: {
        fill: "red"
       }
      },
      labels: {
       regions: {
        render: function (code) {
         var doNotShow = ['US-RI', 'US-DC', 'US-DE', 'US-MD'];
         if (doNotShow.indexOf(code) === -1) {
          return code.split('-')[1];
         }
        },
        offsets: function (code) {
         return {
          'CA': [-10, 10],
          'ID': [0, 40],
          'OK': [25, 0],
          'LA': [-20, 0],
          'FL': [45, 0],
          'KY': [10, 5],
          'VA': [15, 5],
          'MI': [30, 30],
          'AK': [50, -25],
          'HI': [25, 50]
         } [code.split('-')[1]];
        }
       }
      }
     });
    }



   })


  });
 </script>
 <script>
  am4core.ready(function() {

   // Themes begin
   am4core.useTheme(am4themes_animated);
   // Themes end
   
   var chart = am4core.create("chartdiv1", am4maps.MapChart);
   
   // Set map definition
   chart.geodata = am4geodata_worldLow;
   
   // Set projection
   chart.projection = new am4maps.projections.Orthographic();
   chart.panBehavior = "rotateLongLat";
   chart.deltaLatitude = -20;
   chart.padding(20,20,20,20);
   chart.backgroundSeries.mapPolygons.template.polygon.fill = am4core.color("#aadaff");
   chart.backgroundSeries.mapPolygons.template.polygon.fillOpacity = 1;
   // limits vertical rotation
   chart.adapter.add("deltaLatitude", function(delatLatitude){
       return am4core.math.fitToRange(delatLatitude, -90, 90);
   })
   
   // Create map polygon series
   var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());
   
   // Make map load polygon (like country names) data from GeoJSON
   polygonSeries.useGeodata = true;
   
   // Configure series
   var polygonTemplate = polygonSeries.mapPolygons.template;
   polygonTemplate.tooltipText = "{name}";
   polygonTemplate.fill = am4core.color("#47c78a");
   polygonTemplate.stroke = am4core.color("white");
   polygonTemplate.strokeWidth = 0.9;
   
   var graticuleSeries = chart.series.push(new am4maps.GraticuleSeries());
   graticuleSeries.mapLines.template.line.stroke = am4core.color("#ffffff");
   graticuleSeries.mapLines.template.line.strokeOpacity = 0.08;
   
   graticuleSeries.fitExtent = false;
   
   
   //var polygonTemplate = polygonSeries.mapPolygons.template;
   polygonTemplate.events.on("hit", function(ev) {
     // zoom to an object
     //ev.target.series.chart.zoomToMapObject(ev.target);
   
     // get object info
     console.log(ev.target.dataItem.dataContext.name);
   
     var country_i = ev.target.dataItem.dataContext.name;
   $('#renderWorldTwitter').empty().append('');
   $('#renderCountryTwitter').empty().append('');
   $.get("{% url 'Data_Processing_Unit:twitter_trends_country' country='fake' %}".replace(/fake/, country_i), function(data, status){
   //alert("Data: " + data + "\nStatus: " + status);
   //console.log(data.trends)
   var country_name = country_i.toLowerCase();
   console.log("country name "+country_name);
   var   tableHtml='';
   //response = $.parseJSON(this.data);
   $(function() {
   $.each(data,function(i, v) {
   $.each(v,function( ind , val) {
   
   console.log(val);
   for(var x=0;x<val.length;x++){
    var count = val[x]["tweet count"];
   
   
      var tag = val[x].Tag;
      $('#renderWorldTwitter').append('<tr><th scope="row" class="font-weight-bold pl-0 ml-0 pr-0 mr-0  " align="left">'+x+'</th><td class="font-weight-bold pl-0 ml-0 pr-0 mr-0  " style="font-size: 16px;">'+tag+'</><td>'+name+'</td><td class="font-weight-bold">'+count+'</td></tr>')
   
   
   }
   var newDate = new Date().toLocaleString();
   var updateSyncTime='<span class="float-right text-info"> <i class="fas fa-sync text-white fa-spin mr-2"></i>Last Sync : '+newDate+'</span>'
     $('#renderWorldTwitterUpdateTime').empty().append(updateSyncTime);
   
   
   });
   });
   
   
   });
   });
   
   
   
   
   
   $.get("{% url 'Data_Processing_Unit:twitter_trends_worldwide'%}",function(data, status){
   //alert("Data: " + data + "\nStatus: " + status);
   //console.log(data.trends)
   var country_name = country_i.toLowerCase();
   
   var   tableHtml='';
   //response = $.parseJSON(this.data);
   $(function() {
   $.each(data,function(i, v) {
   $.each(v,function( ind , val1) {
    //console.log( val);
   
   for(var x=0;x<val1.length;x++){
    var count = val1[x]["tweet count"];
      var tag = val1[x].Tag;
      console.log(count);
   
      $('#renderCountryTwitter').append('<tr><th scope="row" class="font-weight-bold pl-0 ml-0 pr-0 mr-0  " align="left">'+x+'</th><td class="font-weight-bold pl-0 ml-0 pr-0 mr-0  " style="font-size: 16px;">'+tag+'</td><td>'+name+'</td><td class="font-weight-bold">'+count+'</td></tr>')
   
   }
   var newDate = new Date().toLocaleString();
   var updateSyncTime='<span class="float-right text-info"> <i class="fas fa-sync text-white fa-spin mr-2"></i>Last Sync : '+newDate+'</span>'
   
    $('#renderCountryTwitterUpdateTime').empty().append(updateSyncTime);
   
   });
   });
   
   
   });
   });
   
   //end og get request
   
   
   });
   
   chart.backgroundSeries.mapPolygons.template.polygon.fillOpacity = 0.1;
   chart.backgroundSeries.mapPolygons.template.polygon.fill = am4core.color("#ffffff");
   
   // Create hover state and set alternative fill color
   var hs = polygonTemplate.states.create("hover");
   hs.properties.fill = chart.colors.getIndex(0).brighten(-0.5);
   
   let animation;
   setTimeout(function(){
     animation = chart.animate({property:"deltaLongitude", to:100000}, 20000000);
   }, 3000)
   
   chart.seriesContainer.events.on("down", function(){
   if(animation){
     animation.stop();
   }
   })
   
   }); // end am4core.ready()
   </script>
   
   
   
   <!--  -->
   
   <!-- script for bar chart start  -->
   
   
   <script>
     // Build the chart
   Highcharts.chart('chart1', {
       colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066',
           '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
     chart: {
       backgroundColor: {
               linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
               stops: [
                   [0, '#2a2a2b'],
                   [1, '#3e3e40']
               ]
           },
   
       plotBackgroundColor: null,
       plotBorderWidth: null,
       plotShadow: false,
       type: 'pie'
     },
   
     title: {
       text: 'Fetch Time ',
       style:{
        color:'yellow',
        fontSize:'14px',
        fontWeight:'bold',
        padding:'0px',
        margin:'0px',
       },
      
     },
     tooltip: {
       pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
     },
     plotOptions: {
       pie: {
         allowPointSelect: true,
         cursor: 'pointer',
         dataLabels: {
           color:'#ffffff',
           enabled: false,
   
           itemStyle: {
               color: '#ffffff'
           },
           itemHoverStyle: {
               color: '#ffffff'
           },
           itemHiddenStyle: {
               color: '#ffffff'
           },
           title: {
               style: {
                   color: '#ffffff',
   
               }
   
           }
         },
         showInLegend: false //set to true 
       }
     },
   
     legend: {
          
           backgroundColor: 'rgba(0, 0, 0, 0.5)',
           itemStyle: {
               color: '#f0ad4e'
           },
           itemHoverStyle: {
               color: '#FFF'
           },
           itemHiddenStyle: {
               color: '#606063'
           },
           title: {
               style: {
                   color: '#ffffff'
               }
           }
       },
     series: [{
       name: 'Brands',
       colorByPoint: true,
   
       data: [{
         name: 'Whatsapp',
         y: 61.41,
         sliced: true,
         selected: true
       }, {
         name: 'Twitter',
         y: 11.84
       }, {
         name: 'Facebook',
         y: 10.85
       },  {
         name: 'Linked In',
         y: 4.18
       }, {
         name: 'Other',
         y: 7.05
       }]
     }]
   });


   Highcharts.chart('chart2', {
    colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066',
        '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
  chart: {
    backgroundColor: {
            linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
            stops: [
                [0, '#2a2a2b'],
                [1, '#3e3e40']
            ]
        },

    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },

  title: {
    text: 'Fetch Time ',
    style:{
     color:'yellow',
     fontSize:'14px',
     fontWeight:'bold',
     padding:'0px',
     margin:'0px',
    },
   
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        color:'#ffffff',
        enabled: false,

        itemStyle: {
            color: '#ffffff'
        },
        itemHoverStyle: {
            color: '#ffffff'
        },
        itemHiddenStyle: {
            color: '#ffffff'
        },
        title: {
            style: {
                color: '#ffffff',

            }

        }
      },
      showInLegend: false //set to true 
    }
  },

  legend: {
       
        backgroundColor: 'rgba(0, 0, 0, 0.5)',
        itemStyle: {
            color: '#f0ad4e'
        },
        itemHoverStyle: {
            color: '#FFF'
        },
        itemHiddenStyle: {
            color: '#606063'
        },
        title: {
            style: {
                color: '#ffffff'
            }
        }
    },
  series: [{
    name: 'Brands',
    colorByPoint: true,

    data: [{
      name: 'Whatsapp',
      y: 61.41,
      sliced: true,
      selected: true
    }, {
      name: 'Twitter',
      y: 11.84
    }, {
      name: 'Facebook',
      y: 10.85
    },  {
      name: 'Linked In',
      y: 4.18
    }, {
      name: 'Other',
      y: 7.05
    }]
  }]
});
   </script>
       <!-- chart 1 script end  -->
   
   
   
   <script>
     Highcharts.chart('barchart1', {
        colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066',
           '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
       chart: {
           type: 'column',
           backgroundColor: {
               linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
               stops: [
                   [0, '#2a2a2b'],
                   [1, '#3e3e40']
               ],
   
           },
   
       },
       title: {
        text: 'Artciles Feteched  Today ',
        style:{
         color:'yellow',
         fontSize:'14px',
         fontWeight:'bold',
         padding:'0px',
         margin:'0px',
        },
       },
       subtitle: {
           text: ''
       },
      
       xAxis: {
           categories: [
               'Facebook',
               'Twitter',
               'Instagram',
               'News',
              
           ],
           crosshair: true
       },
       yAxis: {
           min: 0,
           title: {
               text: ''
           }
       },
       /*tooltip: {
           headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
           pointFormat: '<tr><td style="color:white;padding:0">{series.name}: </td>' +
               '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
           footerFormat: '</table>',
           shared: true,
           useHTML: true
       },*/
       plotOptions: {
           column: {
               pointPadding: 0.2,
               borderWidth: 0
           },
  
       },
       legend: {
        enabled: false,
           backgroundColor: 'rgba(0, 0, 0, 0.5)',
           itemStyle: {
               color: '#f0ad4e'
           },
           itemHoverStyle: {
               color: '#FFF'
           },
           itemHiddenStyle: {
               color: '#606063'
           },
           title: {
               style: {
                   color: '#C0C0C0'
               }
           }
       },
       series: [{
           name: 'Targets',
           data: [49.9,32,23,77],
           color:'yellow',
   
       }],
   });
   Highcharts.chart('barchart', {
    colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066',
       '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
   chart: {
       type: 'column',
       backgroundColor: {
           linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
           stops: [
               [0, '#2a2a2b'],
               [1, '#3e3e40']
           ],

       },

   },
   title: {
    text: 'Artciles Feteched  Today ',
    style:{
     color:'yellow',
     fontSize:'14px',
     fontWeight:'bold',
     padding:'0px',
     margin:'0px',
    },
   },
   subtitle: {
       text: ''
   },
  
   xAxis: {
       categories: [
           'Facebook',
           'Twitter',
           'Instagram',
           'News',
          
       ],
       crosshair: true
   },
   yAxis: {
       min: 0,
       title: {
           text: ''
       }
   },
   /*tooltip: {
       headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
       pointFormat: '<tr><td style="color:white;padding:0">{series.name}: </td>' +
           '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
       footerFormat: '</table>',
       shared: true,
       useHTML: true
   },*/
   plotOptions: {
       column: {
           pointPadding: 0.2,
           borderWidth: 0
       },

   },
   legend: {
    enabled: false,
       backgroundColor: 'rgba(0, 0, 0, 0.5)',
       itemStyle: {
           color: '#f0ad4e'
       },
       itemHoverStyle: {
           color: '#FFF'
       },
       itemHiddenStyle: {
           color: '#606063'
       },
       title: {
           style: {
               color: '#C0C0C0'
           }
       }
   },
   series: [{
       name: 'Targets',
       data: [49.9,32,23,77],
       color:'yellow',

   }],
});
 </script>

 <script>
  $(doucment).ready(function() {
   var $th = $('.tableFixHead').find('thead th')
$('.tableFixHead').on('scroll', function() {
  $th.css('transform', 'translateY('+ this.scrollTop +'px)');
});
  })
 </script>
</body>

</html>